- name: Create web directory
  file:
    path: /opt/web
    state: directory

- name: Copy index.php
  copy:
    src: ../files/index.php
    dest: /var/www/html/index.php

- name: Copy health.php
  copy:
    src: ../files/health.php
    dest: /var/www/html/health.php

- name: Start Web Container
  docker_container:
    name: web
    image: php:8.2-apache
    volumes:
      - /opt/web:/var/www/html
