- name: Deploy HAProxy
  hosts: haproxy
  become: true

  tasks:
    - name: Create config directory
      file:
        path: /opt
        state: directory

    - name: Copy HAProxy config
      copy:
        src: ../files/haproxy.cfg
        dest: /opt/haproxy.cfg

    - name: Remove old HAProxy container if exists
      docker_container:
        name: haproxy
        state: absent

    - name: Start HAProxy container
      docker_container:
        name: haproxy
        image: haproxy:2.9
        restart_policy: always
        ports:
          - "80:80"
        volumes:
          - /opt/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
