- name: Deploy HAProxy
  hosts: haproxy
  become: true
  tasks:
    - name: Copy HAProxy config
      copy:
        src: ../files/haproxy.cfg
        dest: /etc/haproxy.cfg  # Zielpfad auf dem Host

    - name: Start HAProxy container
      docker_container:
        name: haproxy
        image: haproxy:2.9
        restart_policy: always
        ports:
          - "80:80"
        volumes:
          - /etc/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
