- name: Deploy Webserver
  hosts: web:web_db
  become: true
  tasks:
    - name: Create web directory
      file:
        path: /opt/web
        state: directory

    - name: Copy index.php
      copy:
        src: ../files/index.php
        dest: /opt/web/index.php

    - name: Copy health.php
      copy:
        content: "<?php http_response_code(200); ?>"
        dest: /opt/web/health.php

    - name: Start Web container with MySQL support
      docker_container:
        name: web
        image: php:8.2-apache
        restart_policy: always
        ports:
          - "80:80"
        volumes:
          - /opt/web:/var/www/html
        command: >
          sh -c "docker-php-ext-install mysqli && apache2-foreground"
